* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


/* Navbar Section */

.navbar {
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-brand img {
    height: 40px;
    width: 80px;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 18px;
    height: 8px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    border: none;
    background-color: darkorange;
    background-clip: padding-box;
    opacity: .8;
    transition: opacity .6s ease;
    border-radius: 20px;
}
.navbar-dark .navbar-toggler{
    color: #111 !important;
}
li.active {
    width: 35px;
}
.nav-link{
    color: #333 !important;
}
.nav-link:hover{
    color: #fff !important;
}
.slider-text h2 {
    margin-bottom: 11px;
}

.slider-text p {
    margin-bottom: 25px;
}

.carousel-control-next i , .carousel-control-prev i {
    color: darkorange;
}

.slider-text {
    margin-left: 10px;
}

/* Product Section */
#product-section {
    padding-top: 100px;
}

#product-section-2 {
    padding-top: 100px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 16px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 95%;
    transition: all 1s;
}
.card:hover{
    transform: translateY(-20px);
}
.card-img-top {
    width: 65%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    margin: 0 auto;
    height: 200px;
    margin-top: 16px;
}
.see-all{
    color:darkorange;
    cursor: pointer;
}
.see-all:hover{
    background-color: darkorange;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 25px;
}

.btn {
    margin-top: 8px;
}

.btn i {
    color: white;
    padding-left: 18px;

}
/* Catagories Section */
#catagories-section {
    padding-top: 100px;
    text-align: center;
}

.heading h2 {
    margin-bottom: 50px;
    position: relative;
}

.box{
     border-radius: 16px;
     -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
     box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
     text-align: center;
     padding:20px;
}
.animation-1{
    animation: zoom-in 2s ease-in-out  infinite alternate;
}
.animation-2{
    animation: zoom-in 2s ease-in-out  infinite alternate-reverse;
}
.animation-3{
    animation: zoom-out 2s ease-in-out  infinite alternate;
}
.animation-4{
    animation: up-down 2s linear infinite alternate;
}
@keyframes zoom-in{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1.05);
    }
}

@keyframes zoom-out{
    0%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(0.8);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(15px);
    }
}
/* About Section */
.title h2 {
    margin-bottom: 50px;
    position: relative;
}
.title h2::before {
    content: "";
    position: absolute;
    background-color: darkorange;
    width: 160px;
    height: 5px;
    top: 40px;
    bottom: 0;
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    
}

.about-style {
    border-radius: 16px;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

/* Input Section */
input,
textarea,
select {
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 100%;
    resize: none;
    border: 1px solid darkorange;
    outline: none;
    border-radius: 5px;
    margin: 10px 0px;
}
